/* testimonial.css */

/* Mengatur padding dan tata letak untuk container utama */
.container {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Mengatur tata letak untuk container testimonial */
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

/* Mengatur gaya untuk setiap testimonial */
.testimonial {
    margin: 15px;
    padding: 20px;
    background-color: #fcfdfc;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px; /* Menetapkan tinggi minimum */
}

/* Mengatur ukuran dan gaya gambar dalam testimonial */
.testimonial img {
    width: 100%;
    height: 200px; /* Menetapkan tinggi tetap */
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* Mengatur gaya teks testimonial */
.quote {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify; /* Rata kanan kiri */
    margin-bottom: 10px;
    flex-grow: 1; /* Mengisi ruang yang tersisa */
}

/* Mengatur gaya untuk nama author */
.author {
    font-size: 20px;
    margin-bottom: 20px; /* Menambah jarak bawah */
}

/* Mengatur gaya untuk rating bintang */
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Menambah jarak atas */
    margin-bottom: 10px; /* Menambah jarak bawah */
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.rating i {
    margin: 0 2px;
}

/* Mengatur gaya tombol rating */
.rating-btn {
    background-color: #f8f4f4;
    color: #f39f21;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
    text-decoration: none;
}

.rating-btn:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

.rating-btn i {
    margin-left: 5px;
}
