<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</html>
             
  

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo.png" style="height: 80px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/myproject">Add Project</a>
                </li>
            </ul>
        <a href="/contact"><button class="btn btn-dark" type="submit">Contact Me</button></a>
            </div>
    </div>
</nav>
        <!-- bagian navbar ada di atas --> 

        
        <body>
            <div class="container body mt-md-5">
                <div class="row">
                    <div class="col-md-7">
                        <h1 style="text-align: center;">Hi Welcome to my hunt</h1>
                        <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aut Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Voluptate inventore eveniet aspernatur voluptatem ut nobis ea, illum fugit quis ex dolores
                             magni debitis omnis saepe quo rerum deleniti commodi laborum? Lorem ipsum dolor sit, amet consectetur adipisicing 
                             elit. Earum, natus. Ullam modi illo fuga magnam quae praesentium? Veniam, nulla alias, eveniet ipsum, consequuntur
                              ipsum numquam iste cum officiis libero dolore? vitae sed veniam dolores in! Reprehenderit, repellat laboriosam nobis
                               esse dolor magni aspernatur possimus, delectus illo laborum laudantium iure optio!</p>
                        <div class="buttons">
                            <button class="btn btn-dark">Contact</button>
                            <button class="btn btn-dark">Download CV &#128229;</button>
                        </div>
                        <div class="wrapper">
                            <a href="https://www.instagram.com/rifkalh_" class="icon"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.instagram.com/rifkalh_" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/rifkalh_" class="icon"><i class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.instagram.com/rifkalh_" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="https://www.instagram.com/rifkalh_" class="icon"><i class="fa-brands fa-github"></i></a>
                        </div>
                        
                    </div>
                    <div class="col-md-4 mt-5 ">
                        <img src="/assets/img/Gambar-1.png" alt="Profile Picture" class="img-fluid rounded">
                        <h2 style="text-align: center;">Rifki Alkhairi</h2>
                        <p style="text-align: center;">Fullstack Developer</p>
                         </div>
                    </div>
                </div>
            </div>
        </body>

        <body>
            <body>
                <div class="containercrad mt-5">
                    <h1 class="text-center mb-5">My Project</h1>
                    <div class="row">
                        <!-- Card 1 -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/assets/img/blog-img.png" class="card-img-top" alt="Project Image 1">
                                <div class="card-body">
                                    <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                    <p class="card-text">durasi: 3 bulan</p>
                                    <p class="card-text">App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download</p>
                                    <div class="icons mb-3 d-flex justify-content-start">
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-google-play"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-android"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-java"></i>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-primary">edit</button>
                                        <button class="btn btn-secondary">delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 2 -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/assets/img/blog-img.png" class="card-img-top" alt="Project Image 2">
                                <div class="card-body">
                                    <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                    <p class="card-text">durasi: 3 bulan</p>
                                    <p class="card-text">App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download</p>
                                    <div class="icons mb-3 d-flex justify-content-start">
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-google-play"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-android"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-java"></i>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-primary">edit</button>
                                        <button class="btn btn-secondary">delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 3 -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/assets/img/blog-img.png" class="card-img-top" alt="Project Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                    <p class="card-text">durasi: 3 bulan</p>
                                    <p class="card-text">App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download</p>
                                    <div class="icons mb-3 d-flex justify-content-start">
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-google-play"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-android"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-java"></i>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-primary">edit</button>
                                        <button class="btn btn-secondary">delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 4 -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/assets/img/blog-img.png" class="card-img-top" alt="Project Image 4">
                                <div class="card-body">
                                    <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                    <p class="card-text">durasi: 3 bulan</p>
                                    <p class="card-text">App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download</p>
                                    <div class="icons mb-3 d-flex justify-content-start">
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-google-play"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-android"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-java"></i>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-primary">edit</button>
                                        <button class="btn btn-secondary">delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 5 -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/assets/img/blog-img.png" class="card-img-top" alt="Project Image 5">
                                <div class="card-body">
                                    <h5 class="card-title">Dumbways Mobile App - 2021</h5>
                                    <p class="card-text">durasi: 3 bulan</p>
                                    <p class="card-text">App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download</p>
                                    <div class="icons mb-3 d-flex justify-content-start">
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-google-play"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-android"></i>
                                        </a>
                                        <a href="#" class="iconcard">
                                            <i class="fab fa-java"></i>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-primary">edit</button>
                                        <button class="btn btn-secondary">delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

              

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>